/* CSS Variables */
:root {
  /* DEFAULT variable name */
  /* text color */
  --fg: #24160b;
  /* background color */
  --canvas: #f4f5e2;

  /* custom variable name */
  --strong-color: #808d72;
  --h-color: #c4a970;
  --blockquote-color: #777777;
  --cloze-color: #FF5370;
}

:root.night-mode {
  /* DEFAULT variable name */
  /* text color */
  --fg: #f4f5e2;
  /* background color */
  --canvas: #24160b;

  /* custom variable name */
  --strong-color: #415427;
}



/* top-level */

.card {
  font-family: arial;
  font-size: 16px;
  /* color: var(--text-color);
  background-color: var(--bg-color); */
}

.night.card {
  background-color: var(--canvas);
}

#qa>* {
  margin-inline-start: 1em;
}



/* generic block-level elements */

p {
  text-align: justify;
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

blockquote {
  color: var(--blockquote-color);
  text-align: justify;
  font-size: 0.9rem;
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
  margin-inline-start: 0;
  margin-inline-end: 0;
}

.q blockquote {
  /* hide blockquote tag in question/front page */
  display: None;
}

.a blockquote {
  /* show blockquote tag in answer/back page */
  display: Block
}

/* heading elements */

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--h-color);
  font-size: 1em;
  font-weight: normal;
  text-align: center;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

/* tables */

/* lists */

ol,
ul {
  padding-inline-start: 1em;
}

li p,
li blockquote{
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}



/* generic inline-level elements */

strong,
b {
  font-weight: bold;
  color: var(--strong-color);
}



/* cloze deletion*/

.cloze {
  font-weight: Bold;
  font-size: 1.2rem;
  color: var(--cloze-color);
}