<!--    Cloze Card - Front Template    -->

<script>
    /**
     * Customize MathJax:
     * (since the front side has executed config, no need to add it again in back side)
     * for more options, see https://docs.mathjax.org/en/latest/options/index.html
     */
    // ignore duplicate labels;
    MathJax.config["tex"]["ignoreDuplicateLabels"] = true;
    // stay within bounds of container
    MathJax.config["HTML-CSS"] = {
        linebreaks: { automatic: true, width: "container" }
    }
    if (typeof is_already_run == 'undefined') {
        is_already_run = true
        MathJax.startup.getComponents();
    }
</script>

<h1 id="root">
    {{root}}
</h1>

<div class="q" id="cloze-text">
    {{cloze:Text}}
</div>
